.Login {
  width: 100%;
  max-width: 24rem;
  padding: var(--size-large);
}

.Login-title {
  margin: 0;
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-bold);
}

.Login-subtitle {
  padding: var(--size-normal) 0;
  margin-bottom: var(--size-large);
}

.Login-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-normal);
}

.Login-form-button {
  background-color: var(--theme-primary-color);
  color: var(--theme-background-color);
  font-weight: var(--font-weight-bold);
  border: none;
  width: 100%;
  padding: var(--size-small);
  border-radius: var(--border-radius-normal);
  cursor: pointer;
  margin-top: var(--size-normal);
  text-transform: uppercase;
}

.Login-form-button:hover {
  opacity: 0.8;
  transition: var(--transition-normal);
}

.Login-form-forgot {
  display: block;
  color: var(--theme-primary-color);
  font-size: var(--font-size-caption);
  padding-top: var(--size-pixel-tiny);
  text-align: center;
  text-decoration: none;
}

.Login-form-register {
  padding-top: var(--size-huge);
  font-size: var(--font-size-caption);
  text-align: center;
}

.Login-form-register span {
  color: var(--theme-primary-color);
  font-weight: var(--font-weight-bold);
}
