.Login {
  color: #ffffff;
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.Login-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.Login-subtitle {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.Login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Login-form-button {
  background-color: #2ecda7;
  color: var(--theme-background);
  font-weight: bold;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
}

.Login-form-forgot {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  color: #2ecda7;
}

.Login-form-register {
  padding-top: 4rem;
  font-size: 12px;
  text-align: center;
}

.Login-form-register span {
  color: #2ecda7;
  font-weight: bold;
}
