{
  "semi": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.test.{js,jsx}",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
