.Scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-surface-color);
  margin-top: 20px;
  padding: var(--size-large);
  border-radius: var(--border-radius-normal);
}

.Scanner__text {
  font-size: var(--size-pixel-norma);
  color: var(--theme-hint-color);
}



.Scanner__source {
  width: var(--scanner-width);
  height: var(--scanner-height);
}


.Scanner__source canvas, video {
  float: left;
  width: var(--scanner-width);
  height: var(--scanner-height);
}

.Scanner__source canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -var(--scanner-width);
}