.ProductList {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.ProductList__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductList__quantity button {
  border: none;
  padding: var(--size-pixel-normal) var(--size-pixel-large);
  border-radius: var(--border-radius-normal);
  background-color: var(--theme-primary-color);
  font-size: 16px;
  font-weight: bold;
  color: var(--theme-background-color);
}

.ProductList__container {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: var(--size-pixel-small);
  overflow-y: scroll;
  height: calc(100vh - 32rem);
}

.ProductList__container div {
  display: flex;
  justify-content: space-between;
}
