@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-primary-color: #2ecda7;
  --theme-background-color: #0d1117;
  --theme-surface-color: #21262e;
  --theme-font-color: #f4f4f4;
  --theme-hint-color: #6e7075;

  --size-tiny: 0.5rem;
  --size-small: 0.8rem;
  --size-normal: 1rem;
  --size-large: 2rem;
  --size-huge: 4rem;

  --size-pixel-tiny: 4px;
  --size-pixel-small: 8px;
  --size-pixel-normal: 12px;
  --size-pixel-large: 16px;
  --size-pixel-huge: 20px;

  --size-icon-small: 16px;
  --size-icon-normal: 24px;

  --border-radius-normal: var(--size-pixel-small);

  --font-size-caption: 12px;
  --font-size-normal: 14px;
  --font-size-subtitle: 18px;
  --font-size-headline: 24px;

  --font-weight-thin: 100;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --transition-normal: all 300ms ease-in-out;
  --transition-slow: all 600ms ease-in-out;
  --transition-slower: all 1000ms ease-in-out;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--theme-background-color);
  color: var(--theme-font-color);
  color-scheme: dark;
}

body,
input,
button {
  font-size: var(--font-size-normal);
}
