.Field {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-normal);
  transition: var(--transition-normal);
}

.Field--focus {
  background-color: var(--theme-surface-color);
  transition: var(--transition-slow);
}

.Field__logo {
  padding: var(--size-small) var(--size-tiny);
}

.Field__container {
  flex: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Field__label {
  position: absolute;
  left: 0;
  color: var(--theme-hint-color);
  transition: var(--transition-normal);
  z-index: 0;
}

.Field__input {
  position: relative;
  background-color: transparent;
  padding-right: var(--size-tiny);
  border: none;
  outline: none;
  color: var(--theme-font-color);
  z-index: 1;
  transition: var(--transition-normal);
}

.Field--focus .Field__label {
  font-size: var(--font-size-caption);
  transform: translateY(-10px);
}

.Field--focus .Field__input {
  transform: translateY(8px);
}
