.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header div {
  display: flex;
  align-items: center;
  gap: var(--size-pixel-small);
}

.Header__title {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-bold);
}

.Header__name {
  font-size: var(--font-size-caption);
}

.Header__img {
  width: var(--size-large);
  height: var(--size-large);
  border-radius: 50%;
}
